/* Overall setup */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-size: 16px;
    color: black;
    background-color: white;
    font-family: 'Gotu', sans-serif;   /* Or using 'Baloo Paaji 2', cursive;*/
}


/* Main-part-Map */
#main-content {
    margin-top: 30px;
    margin-bottom: 50px;
    width: auto;
}

#covid-map {
    width: auto;
    
}
.maps {
    height: 600px;
}

/* Main-part-graphs */

#timeline-graphs section.container {

    /* height = 220px*/
    margin: 10px;
    padding: 10px;
    position: relative;
}

#timeline-graphs h2 {
    text-align: center;
    font-family: 'Gotu', sans-serif;
    font-size: 1.25em;
}

#timeline-graphs .item {
    
    position: absolute;
    width: 120px;
    top: 0;
    right: 0;
}

#timeline-graphs .chart {
    height: 200px;
    width: auto;
    margin: 0px;
    margin-top: 20px;
}
#timeline-graphs p{
    font-family: 'Baloo Paaji 2', cursive;
    margin-top: 20px;
    text-align: justify;
    font-size:100%;
}

/* Footer */
.panel-footer {
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #222;
    border-top: 0;
    color:  white;
}
.panel-footer div.row {
    margin-bottom: 25px;
}

#res, #sym {
    line-height: 2;
    font-size: .7em;
}
#res > span, #sym > span {
    font-size: 1.5em;
}
#sym p {
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
}
#testimonials {
    font-style: italic;
}
#testimonials p:nth-child(2) {
    margin-top: 15px;
}

  